.app-main-header{
    display: flex;
    /* margin-left: 20px; */
    padding-left: 20px;
    background-color: #918d8d;
}

.app-header{
    margin-left: auto;
    margin-top: 26px;
    margin-right:22px
}

h2{
    color: white;
}

.nav-menu-main {
    color: white;
}

.nav-menu-main {
    cursor: pointer;
    margin: 0 10px;
    margin-right: 80px;
  }

  .nav-menu-main:hover {
    text-decoration: underline;
  }

.app-main-header {
    background-color: #333;
    color: #fff;
    /* padding: 10px; */
  }
  /* .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  } */
  
  .nav-menu {
    cursor: pointer;
    margin: 0 10px;
  }
  
  .nav-menu:hover {
    text-decoration: underline;
  }

.dropdown-content {
    position: absolute;
    background-color: #303030;
    border-radius: 10px;
    min-width: 160px;
    z-index: 1;
    display: block;
    margin-top: 25px;
    margin-left: 233px;
  }
  
  .dropdown-content .nav-menu {
    padding: 10px;
    display: block;
    color: #f5f5f5;
  }
  
  .dropdown-content .nav-menu:hover {
    background-color: #303030;
  }

  .main-div{
    background-color: #918d8d;
  }