/* CSS for Signup Page */

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px soli#3d3d3d;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 5px 10px 10px rgba(0.3, 0.3, 0.3, 0.3);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 1px;
    margin-right: 23px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Optional: Add more styling as per your design requirements */
  .h2-header{
    color: rgb(253, 253, 253);
  }

  .main-container {
    /* background-image: url('../images/background.jpg'); */
    background-color: #737373;
    height: 84.1vh; /* Adjusted to fill the entire viewport height */
    background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    padding-top: 90px;
}